* {
    box-sizing: border-box;
    background-color: whitesmoke;
    color: #333e3e;
  }
  
  body {
    font-size: 21px;
    line-height: 28px;
  }

  .color {
    background-color:white;
  }

  .navbar-brand {
    color: #565bc4;
  }


  

  .card {
    align-content: center;
  }
  
  section {
    align-items: center;
  }

  #fixed {
    
    text-align: center;
    background: #eee;
  }

  .third {
    height: 33.33%;
  }

  #imgcenter {
    position: relative;
    padding: 0px;
    margin: 0px auto;
    text-align: center;

  }