

* {
    box-sizing: border-box;
    background-color: whitesmoke;
    color: #333e3e;
    text-align: center;
  }

  body {
    font-size: 21px;
    line-height: 28px;
    font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
  }

  .color {
    background-color:white;
  }

  .card {
    align-content: center;
  }
  
  section {
    align-items: center;
  }

  .purple {
    color: #565bc4;
  }

  .third {
    height: 33.33%;

  }

  .form {
    padding-bottom: 20px;

  }

  .aboutme_section {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #565bc4;
    color: white;
  }

  .footer {
    font-size: small;

  }
