

* {
    box-sizing: border-box;
    background-color: whitesmoke;
    color: #333e3e;
    text-align: center;
  }

  body {
    font-size: 21px;
    line-height: 28px;
    font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
    
  }

  .Site-content {
    overflow: auto;
  }
  .color {
    background-color:white;
  }


  .jumbotron{
    background-size: auto; 
    height: 100%;
    width: 100%;
}

.card {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 18rem;
  max-height: auto;
}
  
  section {
    align-items: center;
  }

  .purple {
    color: #565bc4;
  }

  .third {
    height: 33.33%;

  }

  .form {
    padding-bottom: 20px;

  }

  .aboutme_section {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #565bc4;
    color: white;
  }

  .footer {
    font-size: small;
    clear: both;
    position: fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;

  }
